html {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #7ddeff 0%, #ffc7e3 100%);
  background-size: 100%;
  /* width: 100vw; */
  /* height: 100vh; */

  background-repeat: no-repeat;
}
.game {
  height: 100vh;
  text-transform: capitalize;
}
.game h1 {
  color: rgb(66, 66, 66);
  margin-bottom: 10px;
}
.game h2 {
  color: rgb(66, 66, 66);
  margin-bottom: 8px;
}
.game h3 {
  color: rgb(66, 66, 66);
  margin-top: 8px;
  margin-bottom: 0;
}
.game h3 span {
  display: block;
  text-align: center;
  margin-top: 20px;
}
.game-tie {
  color: rgb(107, 107, 107);
}
.game-lost {
  color: rgb(177, 53, 53);
}
.game-won {
  color: rgb(31, 117, 69);
}
.game-details {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 270px;
}
.game-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}
.game-buttons input {
  width: 280px;
  height: 280px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 50%;
}
.game-buttons input:hover {
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}
.game-buttons input:active {
  box-shadow: 1px 1px 10px 10px rgb(109, 173, 106);
  transform: rotate(30deg);
  /* transition-duration: 0.12s; */
}
.result-counter {
  display: flex;
  text-align: center;
  vertical-align: middle;
}

.game h3 span {
  margin: 3px;
}
.game .reset {
  background-color: rgb(177, 53, 53);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}
.game .reset:active {
  transform: scale(1.03);
  transition-timing-function: ease-in-out;
  box-shadow: 1px 1px 10px 1px gray;
}
@media (min-width: 2000px) {
  .game h1 {
    font-size: 4em;
  }
  .game-details {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 500px;
  }
  .game h2 {
    font-size: 3.2em;
  }
  .game .result-counter {
    font-size: 2.7em;
  }
  .big-screen-span {
    font-size: 1.7em;
  }
  .big-screen-span {
    margin-top: 10px;
  }
}
@media (min-width: 1600px) {
  .game h1 {
    font-size: 3em;
  }
  .game-details {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 400px;
  }
  .game h2 {
    font-size: 2.2em;
  }
  .game .computer-picks {
    font-size: 1.7em;
  }
  .game .get-score {
    font-size: 1.7em;
  }
  .game .result-counter {
    font-size: 10em;
  }
  .big-screen-span {
    margin: 10px;
    font-size: 2em;
  }
  .score-span {
    font-size: 1.2em;
    margin-top: 50px;
  }
  .reset {
    font-size: 1.5em;
  }
}

@media (max-width: 890px) {
  .game-buttons input {
    width: 200px;
    height: 200px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 50%;
  }
}
@media (max-width: 608px) {
  .game-buttons input {
    width: 150px;
    height: 150px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 50%;
  }
}
@media (max-width: 460px) {
  .game-buttons input {
    width: 100px;
    height: 100px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 50%;
  }
}

@media (max-width: 460px) {
  .game-buttons input {
    width: 80px;
    height: 80px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 50%;
  }
}
@media (max-width: 340px) {
  .game-details h1 {
    font-size: 1.5em;
  }
  .game-details h2 {
    font-size: 1em;
  }
}
@media (max-width: 250px) {
  .game-buttons input {
    width: 70px;
    height: 70px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 50%;
  }
}
